@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: rgba(6, 146, 177, 1);
  margin: 0;
  padding: 0;
}

/* navbar starts */

.navbg {
  background-color: rgba(241, 242, 246, 1);
}

.logofont {
  font-family: "bebas neue", cursive;
}

.nav-link {
  font-family: "bebas neue", cursive;
  font-size: 1.12rem;
}

.logo {
  background-image: url("/Final-Project/img/Art\ by\ Roque.png");
  background-size: cover;
  border-radius: 2px;
  height: 35px;
  width: 35px;
}

/* Navbar toggler animation and styling */

.navbar-toggler {
  width: 35px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgba(6, 146, 177, 1);
  border-radius: 50px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* When navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* navbar ends */

/* Tried this method using getwaves.io to implement svg and position it at bottom */

/* .wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(max-width:100wh){

    .wave{
        height: 50vh;
    }

} */

/*  SVG Home page This is the CSS for Shapedivider.app*/

.custom-shape-divider-bottom-1648154086 {
  position: absolute;
  bottom: -0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  filter: drop-shadow(0px -6px 6px rgba(0, 0, 0, 0.8));

}

.custom-shape-divider-bottom-1648154086 svg {
  position: relative;
  display: block;
  width: calc(240% + 1.3px);
  height: 600px;
}

.custom-shape-divider-bottom-1648154086 .shape-fill {
  fill: #353535;
}

/* Shapedivider.app Ends */

/* .home-logo {
  background-image: url("/Final-Project/img/Roque\ Martinez\ Blurb\ Portrait.jpg");
  background-size: cover;
  height: 400px;
  width: 400px;
  
} */

.art {
  color: rgb(255, 193, 7);
}

.by {
  color: #0692b1;
}


.logo-name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  /* font-size: 7em; */
  line-height: 98%;
  color: rgba(241, 242, 246, 1);
  letter-spacing: .2rem;
}

.readmore {
  font-family: ("oswald");
}

.hello {
  font-family: ("oswald");
}

.portfolio {
  position: relative;
  background-color: rgba(53, 53, 53, 1);
  margin-top: -2rem;
}

.portfolio-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1.1rem;
  color: rgba(241, 242, 246, 1);
}

.descriptions {
  font-family: 'oswald',sans-serif;
  font-weight: 400;
  letter-spacing: .2rem;
}

.shape {
  background-color: rgb(255, 193, 7);
  height: 4px;
  width: 30vw;
}

.services-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1.1rem;
  color: rgba(241, 242, 246, 1);
}

.services {
  position: relative;
}

.about-me {
  position: relative;
}

/* SVG for services section start */

.custom-shape-divider-top-1648270825 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
  filter: drop-shadow(0px -6px 6px rgba(0, 0, 0, 0.8));


}

.custom-shape-divider-top-1648270825 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 413px;
}

.custom-shape-divider-top-1648270825 .shape-fill {
  fill: #353535;
}

/* SVG for services section end */




/* SVG about me section start */

.custom-shape-divider-bottom-1648437446 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  filter: drop-shadow(0px -6px 6px rgba(0, 0, 0, 0.8));

}

.custom-shape-divider-bottom-1648437446 svg {
  position: relative;
  display: block;
  width: calc(202% + 1.3px);
  height: 400px;
  transform: rotateY(180deg);
  
}

.custom-shape-divider-bottom-1648437446 .shape-fill {
  fill: #353535;
  

}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1648437446 svg {
    width: calc(300% + 1.3px);
    height: 500px;
  }
}

/* SVG about me section end */


/* footer SVG start*/

.custom-shape-divider-top-1648531390 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
  filter: drop-shadow(0px -6px 3px rgba(0, 0, 0, 0.8));

}

.custom-shape-divider-top-1648531390 svg {
  position: relative;
  display: block;
  width: calc(192% + 1.3px);
  height: 250px;
}

.custom-shape-divider-top-1648531390 .shape-fill {
  fill: #353535;
}
/* footer SVG end*/




/* cards in Services section start */

.card-title {
  font-family: "oswald", sans-serif;
}

.card-color {
  background-color: rgba(53, 53, 53, 1);
}

.card-body {
  color: rgba(241, 242, 246, 1);
}

.service-col {
  filter: drop-shadow(-8px -8px 5px rgba(0, 0, 0, 0.5));
}

/* cards in Services section ends */

/*  Card title underlines */

.shape2 {
  background-color: rgb(255, 193, 7);
  height: 4px;
}

.bg-image {
  position: relative;
  max-height: 50vh;
  width: 50vw;
  background-size:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(-8px -8px 15px rgba(0, 0, 0, 0.7));
}

.my-story {
  position: relative;
  font-family: "oswald";
  color: rgba(241, 242, 246, 1);
  /* font-size: 1.1rem; */
}

.contact {
  background-color: rgba(53, 53, 53, 1);
}

/* FORM ELEMENTS */

.form-label {
  font-family: "oswald", sans-serif;
  color: rgba(241, 242, 246, 1);
}


.submit {
  font-family: "oswald", sans-serif;
}


.footer {
  padding-top: 10rem;
  /* background-color: #0692b1; */
  position: relative;
  z-index: 0;
}

.fa-brands {
  color: rgb(255, 193, 7);
}

.fa-brands:hover {
  color: rgba(241, 242, 246, 1);
}

.mask {
  object-fit: cover;
  opacity: .8;
}



/* hover effects */

.card-title:hover {
  color: rgb(255, 193, 7);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0692b1;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0692b1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.submit:hover {
  background-color: transparent;
  color:#ffc107;
}

.hello:hover {
background-color: transparent;
color:#ffc107 ;
}

.roque:hover {
  color: #353535;

}

.illustrator:hover {
  color: #353535;

}

.art:hover {
  color: #353535;
}

.h2 {
  letter-spacing: .2rem;
}

.carouselbox {
  filter: drop-shadow(-6px -6px 8px rgba(0, 0, 0, 0.8));
}


